.balance{
  color: green;
}
.news .desc {
  color: #666;
  font-size: 14px;
}
.avatar {
 width: 60px;
 height: 60px;
 border-radius: 50%;
 background: #53b2ed;
 color: #fff;
 
}
ul,li {
 list-style: none;
}