.header{
  height: 80px;
  line-height: 80px;
  padding: 10px 40px;
  background: #fff;


 
}
.wallet-option{
  width: 150px;
}
.wallet-btn{
   width: 120px;
   height: 50px;
   border-radius: 30px;
   border: 1px solid #333;
}
.primary.wallet-btn {
  background: #1677ff;
  color:#fff !important;
  border: 1px solid #1677ff;
}